*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    transition: all ease;
}
.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
aside{
    background-color: #BD5D38;
    width: 21%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}
nav{
    width: 100%;
    text-align: center;
    text-align: center;

}
aside img{
    width: 70%;
    border-radius: 50%;
    border: 8px solid #CA7D60;
    object-fit: cover;
}

li{
    width: 100%;
  padding-bottom:15px;
}
li a{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size:16px;
    font-weight: 800;
    text-transform: uppercase;
    line-height:24px;
    letter-spacing:1.5px;
    opacity: 0.6;
}
.active{
opacity: 1;
}
li a:hover{
   opacity: 1;
}
.photo{
    opacity: 1;
    pointer-events: none;
}

/* content section */
#about,#awards,#interests,#skills,#education{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    width: 79%;
    margin-left: 25%;
    margin-right: 3%;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* About Section */

#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 5rem 0; */
}
hr{
color:#6c757d;
width: 100%;
margin: 0;
padding: 0;

}
.main-title{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #343a40;
    font-size: calc(1.720rem + 5.7vw);
    font-weight:700;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}
span{
    color: #bd5d38;
}
address{
    font-family: "Saira Extra Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 3rem;
    margin-top: 0;
}
address a{
    color:#bd5d38;
    text-decoration: underline;
}
.object{
    font-family:'Roboto', sans-serif ;
    font-size: 1.2rem;
    font-weight: 400;
    color: #6c757d;
     padding-right: 1rem;
    line-height: 1.5;
}
.socilIcon{
    color: #fff;
    font-size: 1.5em;
    background-color: #495057;
    padding: 1rem;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    margin-right: 1.5rem;
}
.socilIcon:hover{
    background-color: #BD5D38;
}

/* Experience section */
#experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contentBox{
    max-width: 1000px;

}
.title{
    font-size: calc(1.475rem + 2.7vw);
    font-family: "Saira Extra Condensed",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.subtatileDates{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.subtitle{
    text-transform: uppercase;
    font-size: calc(1.325rem + 0.9vw);
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
    margin-bottom: 0;
    padding-bottom: 0;
}
.date{
    color: #BD5D38;
}
.organisation{
    font-family: "Saira Extra Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #6c757d;
}
.text{
    font-family:'Roboto', sans-serif ;
    font-size: 1rem;
    font-weight: 400;
    color: #6c757d;
    padding-right: 1rem;
    line-height: 1.7;
    width: 800px;
    margin-bottom: 1rem;
}

/* skills section */
.tools-image{
display: flex;
justify-content: flex-start;
padding-left: 0;
}
.toolkit{
    font-size: 3rem;
   color:#6c757d;
}
.workflow-list{
    padding: 1rem 1rem;
}
.workflow{
    color:#6c757d;
    font-family: "Roboto" ,sans-serif;
}
.workflow-ticks{
    padding-right: 0.5rem;
}

/* section interests */


.interest-text{
    width: 100%;
}
/* section award */

.award-icon{
    padding-right: 0.5rem;
    color: #ffc107;
}
.award{
    color:#6c757d;
}